body{
    background-color:#070709;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    color: white;
}
.logo{
    left: 30;
    top: 20px;

}
.btn{
    border-radius:50px;
}
.box1, .box2 {
    padding: 20px;
    background-color: transparent;
    text-align: center;
  }
  .gradient-text {
    background: linear-gradient(45deg, #333333, #cccccc, #ffffff);
    -webkit-background-clip: text; /* For WebKit-based browsers */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent;
}
.fade-in-scroll {
    opacity: 0;
    transform: translateY(20px); /* Slightly lower it for a smoother effect */
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in-scroll.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fade-in-scroll {
    from {
        opacity: 0;               /* Starting opacity */
    }
    to {
        opacity: 1;               /* Ending opacity */
    }
}
p{
    color:rgba(255, 255, 255, 0.788);
}
.feature-section {
    font-family: 'Montserrat', sans-serif;
}
.feature-section p{
    font-size: 16px;
}
.feature-section h5{
    margin-bottom:1.5rem;
}
h5 i {
    font-size: 1.2rem; /* adjust as needed */
    color: #fff; /* match your theme */
}
