.bg-body-tertiary{
    background-color: rgb(248 249 250 / 0%) !important;
    border: 3px solid #efefef;
    }
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-logo{
    padding: 10px;
}

.search-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;;
}

.row-cols-4{
    margin-bottom:3rem;
}
/* Container for logo, company name, and ticker symbol */
.logo-ticker {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Adjust spacing between cards */
}

/* Container for the logo and company name */
.ticker-container {
    display: flex;
    flex-direction: column; /* Stack logo and company name vertically */
    align-items: flex-start; /* Align both to the left */
    margin-left: 1rem; /* Space between logo and company name */
}



/* Styling for the company name */
.ticker_name {
    font-size: 1.2rem; /* Adjust the font size as necessary */
    margin-top: 0.5rem;
}

/* Styling for the ticker symbol */
.ticker_symbol-p {
    font-size: 13px; /* Adjust the font size as necessary */
    color: rgba(0, 0, 0, 0.638);
    margin-top: 0.2rem; /* Space between the company name and ticker symbol */
}


.circle-logo{
    margin-right: 1rem;
    width: 50px; /* Set the width of the image */
    height: 50px; /* Set the height of the image */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    border: solid 1px rgba(128, 128, 128, 0.763);
}

.push-up:hover{
    transform: translateY(-10px); /* Moves the card up by 10px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.11);
}
.push-up{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

}
.sim-link{
    text-decoration: none;
    color: black;
}
.sim-link:hover{
    color: #00617e;
}
.info{
    width:100%;
    background-image: linear-gradient(-41deg, #000000 0%, #1f1f1f 100%);
    height: 22rem;
}
.text-cont{
    display: flex;
    justify-content:space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 58px 0 52px 0;
  }
.text-1{
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}

.left-text{
    width: 230px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
  }
  
.data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .data-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 8px 0;
    gap: 80px;
    font-family: 'Open Sans', sans-serif
  }
  
  .label {
  text-align: left;
  color: #FFFFFF;
  opacity: 0.7;
  text-align: left;
  line-height: 14px;
  margin-right: 2rem;
  font-size: 14px;
  }
  
  .value {
    line-height: 14px;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    margin-right: 2rem;
  }
  
  .chart {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.chart.show {
    display: block;
    opacity: 1;
}
