{% extends "trading/base.html" %}

{% block title %}
Voltix - Assets
{% endblock %}

{% block content %}
{% load static %}

<div class="container-lg" style="margin-top: 3rem;">
    <h2>Choose Stocks , Crypto or ETFS</h2>
    <div class="search-container">
        <input class="form-control form-control-lg" type="text" placeholder="Search for symol ex: AAPL" style="border-radius:35px;">
        
    </div>
    <div class="container text-center">
      <h3 style="margin-bottom: 4rem; text-align: left;">Popular Stocks</h3>
      <div class="row row-cols-4">
          {% for stock in popular_stocks %}
          <div class="col" style="margin-bottom: 2rem;">
              <div class="card push-up" >
                  <div class="card-body">
                      <!-- Flex container for logo and ticker info -->
                      <div class="logo-ticker">
                          <!-- Display the asset logo dynamically -->
                          <img src="{{ stock.logo_url }}" class="circle-logo" alt="{{ asset.name }} logo">
                          
                          <!-- Company Name and Ticker Symbol -->
                          <div class="ticker-container">
                              <div class="ticker_name"><a class="sim-link" href="{% url 'trading:simulation_type' category=stock.category ticker=stock.ticker %}">{{stock.name}}</a></div>
                              <p class="ticker_symbol-p">{{ stock.ticker }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <hr>
      <h3 style="text-align: left; padding-top: 30px; margin-bottom: 4rem;">ETFS</h3>
      <div class="row row-cols-4">
        {% for etf in popular_etfs %}
        <div class="col" style="margin-bottom: 2rem;">
            <div class="card push-up" >
                <div class="card-body">
                    <!-- Flex container for logo and ticker info -->
                    <div class="logo-ticker">
                        <!-- Display the asset logo dynamically -->
                        <img src="{{ etf.logo_url }}" class="circle-logo" alt="{{ etf.name }} logo">
                        
                        <!-- Company Name and Ticker Symbol -->
                        <div class="ticker-container">
                            <div class="ticker_name">{{etf.name}}</div>
                            <p class="ticker_symbol-p">{{etf.ticker}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  
{% endblock %}
  
