{% extends "trading/base.html" %}

{% block title %}
Voltix - Assets
{% endblock %}

{% block content %}
{% load static %}

<div class="container-lg" style="margin-top: 3rem;">
    <h2>Choose Stocks , Crypto or ETFS</h2>
    <div class="search-container">
        <input class="form-control form-control-lg" type="text" placeholder="Search for symol ex: AAPL" style="border-radius:35px;">
        
    </div>
    <div class="container text-center">
        <h3 style="margin-bottom: 4rem;">Popular</h3>
        <div class="row row-cols-4">
          <div class="col"><div class="card">
            <div class="card-body ticker_name">
                <div class="logo-ticker">
                    <img src="https://img.logo.dev/ticker/AAPL?token=pk_KpdvfbLjTQWM8HUe7w8eAg&size=30&retina=true" alt="Apple Logo">
                    <p class="text_symbol">Apple</p>
                </div>
            </div>
          </div></div>
          <div class="col"><div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div></div>
          <div class="col"><div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div></div>
          <div class="col"><div class="card">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div></div>
        </div>
        <div class="row row-cols-4">
            <div class="col"><div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div></div>
            <div class="col"><div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div></div>
            <div class="col"><div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div></div>
            <div class="col"><div class="card">
                <div class="card-body">
                  This is some text within a card body.
                </div>
              </div></div>
          </div>
          <div class="row row-cols-4">
            <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                    </div>
                    <div class="row row-cols-4">
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
                        <div class="col"><div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
            </div></div>
          </div>
      </div>

</div>
{% endblock %}
  
