{% extends "trading/base.html" %}

{% block title %}
Voltix - Assets
{% endblock %}

{% block content %}
{% load static %}

<div class="container-lg" style="margin-top: 3rem;">
    <h2>Choose Stocks , Crypto or ETFS</h2>
    <div class="search-container">
        <input class="form-control form-control-lg" type="text" placeholder="Search for symol ex: AAPL" style="border-radius:35px;">
        
    </div>
    <div class="container text-center">
      <h3 style="margin-bottom: 4rem; text-align: left;">Popular Stocks</h3>
      <div class="row row-cols-4">
          {% for asset in popular_assets %}
          <div class="col" style="margin-bottom: 2rem;">
              <div class="card" >
                  <div class="card-body">
                      <!-- Flex container for logo and ticker info -->
                      <div class="logo-ticker">
                          <!-- Display the asset logo dynamically -->
                          <img src="{{ asset.logo_url }}" class="circle-logo" alt="{{ asset.name }} logo">
                          
                          <!-- Company Name and Ticker Symbol -->
                          <div class="ticker-container">
                              <div class="ticker_name">{{ asset.name }}</div>
                              <p class="ticker_symbol-p">{{ asset.ticker }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      </div>
    </div>
  
{% endblock %}
  
