{% extends "trading/base.html" %}

{% block title %}
Voltix - Historical
{% endblock %}

{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <script type="module" src="{% static 'trading/js/historical.js' %}"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<div class="info">
    <div class="container-sm text-cont" style="color: white;">
        <div class="left">
            <h1 class="me-3 text-1" id="ticker">{{ticker}}</h1>
            <h3 class="text-1" style="font-size: 24px; color: rgba(255, 255, 255, 0.591);">{{stock_name}}</h3>
            <div class="price-metrics" style="display: flex; align-items: center; margin-left: -15px;">
              <p id="arrow" style="font-size: 70px;"></p>
            <p id="price" style="font-size: 45px;">{{data.live_data.current_price}}</p>
            <div style="display: flex; flex-direction: column; margin-left: 20px;">
              <p id="change" style="margin: 0 0 -5px 0;">{{data.live_data.change }}</p>
              <p id="percent-change">{{data.live_data.change_percent}}</p>
          </div>
            </div>
            <p style="margin-top: -40px; font-size: 14px; margin-left: 1rem;">{{data.market_status}}: {{data.data_fetched_at}}</p>
        </div>
        <div class="right">
            <div class="data-grid">
              <div class="data-item">
                <span class="label">OPEN</span>
                <span class="value">{{data.live_data.open_price}}</span>
              </div>
              <div class="data-item">
                <span class="label">PREV CLOSE</span>
                <span class="value">{{data.live_data.previous_close}}</span>
              </div>
              <div class="data-item">
                <span class="label">HIGH</span>
                <span class="value">{{data.live_data.high_price}}</span>
              </div>
              <div class="data-item">
                <span class="label">LOW</span>
                <span class="value">{{data.live_data.low_price}}</span>
              </div>
              <div class="data-item">
                <span class="label">VOLUME</span>
                <span class="value">{{data.live_data.volume}}</span>
              </div>
              <div class="data-item">
                <span class="label">TURNOVER</span>
                <span class="value">{{data.turnover}}</span>
              </div>
              <div class="data-item">
                <span class="label">52 WEEK HIGH</span>
                <span class="value">{{data.fundamental_data.52_week_high}}</span>
              </div>
              <div class="data-item">
                <span class="label">52 WEEK LOW</span>
                <span class="value">{{data.fundamental_data.52_week_low}}</span>
              </div>
              <div class="data-item">
                <span class="label">MARKET CAP</span>
                <span class="value">{{data.fundamental_data.market_cap}}</span>
              </div>
              <div class="data-item">
                <span class="label">P/E (TTM)</span>
                <span class="value">{{data.fundamental_data.pe_ratio}}</span>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="conatiner" style="padding:2rem;">
  <div class="chart-form" style="display: flex; justify-content: space-between; gap: 2rem;">
    <div class="chart" id="chart-div"style="width: 100%;">
      <canvas id="myChart" width="700px" height="600px" style="box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 20px; border: 1px solid rgba(156, 156, 156, 0.341); padding-top: 1rem;"></canvas>
    </div>
    <div class="form-cont card" style="width: 30%; box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1); height: 30rem; border-color: rgba(220, 220, 220, 0.831); border-radius: 35px;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Simulation Settings</h5>
        <div class="form-group">
          <div class="date-div">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="start-date">
              <label for="floatingInput">Start date</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="end-date">
              <label for="floatingPassword">End date</label>
            </div>
          </div>
          <div class="after-date">
            <i class="fas fa-arrow-left arrow-icon" id="back-arrow"></i>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="initial-capital">
            <label for="initial-amount">Intial Capital</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="fee">
            <label for="initial-amount">fee per trade %</label>
          </div>
          <div class="mb-3">
            <select class="form-select" id="risk">
              <option selected disabled>Select Risk Tolerence</option>
              <option value="Low">Low</option>
              <option value="Moderate">Moderate</option>
              <option value="High">High</option> 
              </select>
          </div>
          <div class="mb-3">
            <select class="form-select" id="strategy">
              <option selected disabled>Select Trading Strategy</option>
              <option value="MAC">Moving Average Crossover</option>
              <option value="MT">Momentum Trading</option>
              <option value="MR">Mean Reversion</option>
              <option value="BS">Breakout Strategy</option> 
              </select>
          </div>
        </div>
          <div style="display: flex; justify-content: center; padding-top: 20px;">
            <button type="submit" class="btn btn-dark" id="start-btn" style="display: none;">Start</button>
            <button type="submit" class="btn btn-dark" id="select-date-btn">Select date</button>
          </div>
      <p id="message" style="color: red; padding-top: 10px; display: none; text-align: center;"></p>
      </div>
</div>
</div>
</div>
{% endblock %}